<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026776437337-0fus2g3rbstfbeq03i3v2lcqhct8qgqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026776437337-0fus2g3rbstfbeq03i3v2lcqhct8qgqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDeZ4o4etXPEu9by77rClzoWfO0gEI8lH4</string>
	<key>GCM_SENDER_ID</key>
	<string>1026776437337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animate</string>
	<key>PROJECT_ID</key>
	<string>animate-2e059</string>
	<key>STORAGE_BUCKET</key>
	<string>animate-2e059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026776437337:ios:e95787ebeb1bae31805748</string>
</dict>
</plist>